<!-- users/templates/registration/login.html -->
{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css'%}">
{% endblock %}

{% block content %}
<p>To create a story you will need to Login. </p>
<h2>Login</h2>

<form method="post"> 
    {% csrf_token %}    
    {{ form.as_p }}
    <button class= "btn-info" type="submit">Log In</button>

</form>
<br> 
<br> 
<p>If you are a new user please create your account: </p>
<a href="{% url 'users:createAccount' %}" class= "link_users"><button>Create Account</button></a>


{% endblock %}