@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:ital,wght@0,300;0,400;0,900;1,100&family=Tektur&display=swap');

body {
    background-color: rgb(240, 238, 240);
}

header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}


/* img {
    filter: grayscale(100%); 
} */

h1 {
    font-family: 'Tektur', cursive;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
    color: rgb(49, 25, 129);
}

h2 {
font-family: 'Roboto', sans-serif;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav a {
    color: rgb(49, 25, 129);
    font-family: 'Tektur', cursive;
}

a {
    margin: 1px;
    text-decoration: none;
    color: #060a0e;
}

a, p {
 font-family: 'Roboto', sans-serif;

}