@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:ital,wght@0,300;0,400;0,900;1,100&family=Tektur&display=swap');

body{
    background-color: aqua;
}

.link_users{
    color: rgb(49, 25, 129);
    font-family: 'Tektur', cursive;
}


.btn{
    display: inline-block;
    background-color: rgb(15, 73, 123);
    color:white;
    padding: 0.6rem;
    border:2px solid transparent;
    border-radius:0.8em ;
    margin:5px;
    cursor:pointer;
    text-decoration: none;
    font-size: smaller;
}